.product-details-container {
  display: flex;
  gap: 20px;
}

.product-images {
  width: 50%;
}

.main-image {
  width: 100%;
  height: auto;
}

.thumbnail-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.thumbnail {
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}

.product-info {
  width: 50%;
}

.product-info h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-info p {
  margin: 5px 0;
}

.product-info ul {
  list-style: none;
  padding: 0;
}

.product-info ul li {
  margin-bottom: 5px;
}

.add-to-cart button {
  background-color: #ff9800;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}

.add-to-cart button:hover {
  background-color: #e68a00;
}
